body {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: linear-gradient(267deg, #ffffff, #ccdaff, #ffc6c6);
    background-size: 600% 600%;
    
    animation: gradient 29s ease infinite;
}
@keyframes gradient {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

.content-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 80em;
}

.content-box-container {
  display: flex;
}

.header-container {
  width: 30em;
  text-align: center;
  margin-top: 10em;
}
.header-container h1 {
  margin-bottom: 1.5em;
}
.header-container p {
  font-size: 25px;
  margin-bottom: 20px;
}
.header-container h2 {
  margin-bottom: 2em;
}
.header-container #first-hr {
  width: 0;
}
.header-container #last-hr {
  width: 0;
  align-items: ceneter;
  margin-bottom: 2em;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid black;
  border-radius: 13px;
}
.search-container h1 {
  margin-top: 0;
}
.search-container {
  position: relative;
  margin: 1em;
  max-height: 154.312px;
}

.search-results-container {
  width: 400px;
  height: 400px;
  overflow: scroll;
  display: flex;
  flex-flow: row;
  padding: 20px;
  padding-top: 0%;
  margin-top: 1em;
  border: 2px solid black;
  border-radius: 13px;
}

.content-boxes {
  display: flex;
  flex-flow: row wrap;
}

.itinerary-display {
  padding: 20px;
  padding-top: 0%;
  border: 2px solid black;
  border-radius: 13px;
  width: 300px;
  height: 250px;
  margin: 1em;
}

.results p {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 10px;
  margin: 0%;
}

.feature-list {
  width: 173px;
}

.parks-search-container {
  margin-bottom: 8px;
}

.art-search-container {
  margin-bottom: 8px;
}

.restaurant-search-container {
  margin-bottom: 8px;
}

hr {
  color:#000000;
	background:#000000;
	height:2px;
	border:none
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  display: none;
}