body {
    font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aqua;
    
}

.search-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid black;
    border-radius: 13px;
}

.feature-list{
    width: 173px;


}

.parks-search-container {
    margin-bottom: 8px;
}

.art-search-container {
    margin-bottom: 8px;
}

.restaurant-search-container {
    margin-bottom: 8px;
}

hr {
    border-top: 2px solid black;
}

